body{
    display: flex;
    justify-content: center;
    background-image: url(https://img-fotki.yandex.ru/get/105284/37009792.2d3/0_ca26e_d90d184d_orig);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    transition: transform 5s ease;
}
.box:hover{
    transform: rotate(1800deg);
}