body{
    display: flex;
    justify-content: center;
    background-image: url(https://img-fotki.yandex.ru/get/105284/37009792.2d3/0_ca26e_d90d184d_orig);
    background-size: cover;
    background-position: center;
}
.box{
    display: flex;
    justify-content: center;
    width: 225px;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
img{
    animation: rotate 5s linear infinite;
}